// Course Complete Button
.llms-lesson-button-wrapper, .llms-course-complete-text {
    margin-top: 2rem;
    font-weight: 600;
    color: $color-gray-light;
}
.llms-lesson-button-wrapper i, .llms-course-complete-text i {
    color: $color-green;
    margin-right: .3rem;
}
.llms-course-complete-text {
    font-size: 1.2rem;
}
.course-header .llms-course-complete-text, .course-header .llms-course-complete-text i {
    color: #fff;
}