button {
    border: none;
    background: none;
}
.buttons {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.btn:disabled {
    background: #d6d6d6;
    color: #7e9098;
}

.btn:disabled:hover {
    cursor: no-drop;
}

.arrow-btn {
    display: block;
    position: relative;
    transition: all 0.3s ease-out;
    padding: 0px;
}

.arrow-btn::after {
    content: '\2794';
    position: absolute;
    transition: all 0.3s ease-out;
    margin-left: 5px;
}

.arrow-btn.back::after {
    content: '\2938';
    transform: rotate(135deg);
    font-weight: 700;
}

.arrow-btn.back.parent-course {
    color: #029cf2;
    opacity: .6;
    font-size: 0.85em;
    font-weight: 700;
} 
.article-header.developer .arrow-btn.back.parent-course {
    color: #fa478f;
}

.article-header.investor .arrow-btn.back.parent-course {
    color: #35cc63;
}

.arrow-btn.back.parent-course:hover {
    opacity: 1;
}

.arrow-btn:hover::after {
    margin-left: 10px;
}

.arrow-btn.back:hover::after {
    transform: rotate(90deg);
    margin-left: 5px;
}

header .arrow-btn {
    color: #029cf2;
}

/* green button ?*/

.green-btn-padding {
    padding: .8rem 1.8rem;
    font-size: 0.7em;
    letter-spacing: .2px;
    border-radius: 5px;
    max-width: max-content !important;
}

.btn-large {
    font-size: 1rem;
    padding: .5rem 2rem;
}

.express-course-email-signup {
    overflow: auto;
    padding-bottom: 2rem;
}
.llms-button-action {
    @extend .green-btn;
}
.llms-form-field.type-submit button:not(.auto) {
    width: auto;
    
}


// Enroll Button
.enroll-btn {
    background: #FFFFFF;
    border-radius: 6px;
    color: #029cf2;
    padding: 17px 40px;
    font-size: 0.9em;
    font-weight: 600;
    display: inline-block;
    box-shadow: 0px 3px 20px rgba(80, 80, 80,.25);
    transition: all .3s;
}

.enroll-btn:hover {
    box-shadow: 0px 0px 15px rgba(80, 80, 80,.35);
}

.enroll-btn:active {
    background: #efefef;
}