.express-courses .llms-lesson .llms-lesson-complete {
    display: none;
}
.express-courses .section-title {
    display: none;
}
.express-courses .llms-widget-syllabus .lesson-title {
    margin-left: 0;
}
.express-courses .llms-lesson span {
    margin-right: 0;
}
.express-courses .llms-widget-syllabus .lesson-title a:before {
    @extend .category-title;
    content: 'Express Course';
    color: $color-blue;
    display: block;
}
.express-courses .llms-widget-syllabus .lesson-title a {
    @extend .course-title;
    display: block;
    padding: 0rem 2rem 2rem;
    margin-bottom: 0;
}
.express-courses .llms-widget-syllabus .lesson-title a:hover, .express-courses .llms-widget-syllabus .lesson-title a:active {
    color: #404852;
}
@media only screen and (min-width: $break-point-medium) {
    .express-course-email-signup {
        padding-left: 4rem;
        border-left: 1px solid $color-gray-lightest;
        margin-left: 3rem;
    }
}