

// Course Overview
.course-summary-description {
	font-size: 1.3rem;
	line-height: 1.5;
	font-weight: 100;
	max-width: 50rem;
	margin: 0 auto;
}
.course-summary-image {
	margin: 0 auto;
	text-align: center;
	width: 75%;
	max-width: 11rem;
	display: block;
}

@media only screen and (max-width: $break-point-medium) {
	.course-summary-image  {
		max-width: 5rem;
		margin-bottom: 3rem;
	}
}
