.llms-certificate-container {
    margin-top: 8rem;
}
.llms-certificate-container .llms_certificate, .llms-certificate-container .llms_my_certificate {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 1px;
}

.llms-summary h1 {
    color: $color-blue;
    font-weight: 400;
    margin-bottom: 4rem;
}

.llms-certificate-container .certificate-course {
    margin-top: -.5rem;
    font-weight: 600;
    font-style: italic;
    font-size: 1.3rem;
    text-transform: capitalize;
}
.llms-certificate-container .certificate-description {
    color: $color-blue;
    max-width: 450px;
    margin: 0 auto;
}
.llms-print-certificate {
    margin-bottom: 20px;
}

//show on dashboard
.llms-certificate {
    border: 4px solid #f1f1f1;
}

// hide "Save" button
.llms-print-certificate form {
    display: none;
}

@media only screen and (max-width: $break-point-medium) {
    .pure-img {
        margin-top: 60px;
    }
    
}