.menu-item-has-children > a:after {
    content:"";
    width: .85em;
    height: .85em;
    margin-left: .2em;
    display: inline-block;
    background: url('data:image/svg+xml;utf8,<svg fill="#029cf2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>') center bottom no-repeat;
}

.top-navigation {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 30px 0px;
    z-index: 10;
}

.max-width-menu {
    display: flex;
    max-width: 1100px;
    width: 100%;
    padding: 0px 20px;
    margin: auto auto;
    position: relative;
}

.menu-toggle {
    position: absolute;
    right: 1px;
    top: 0rem;
    display: none;
    color: $color-blue;
    font-weight: 800;
    padding: .6rem 2rem;
}
.white-nav .menu-toggle {
    color: #fff;
}
.white-nav .menu-toggle svg {
    fill: #fff;
}
.white-nav.menu-bg .menu-toggle {
    color: $color-blue;
}
.white-nav.menu-bg .menu-toggle svg {
    fill: $color-blue;
}

.menu-bg {
    background: #FFFFFF;
    box-shadow: 0px 7px 25px rgba(84,93,101,0.10);
    color: #514e4e !important;
}

.menu-bg .logo-img {
    background-image: url('../img/logo.png') !important;
}

.logo-img {
    background: url('../img/logo.png');
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    margin-top: .5rem;
}
.logo-icon {
    background: url('../img/logo-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 2.5rem;
}

.white-nav {
    color: #FFFFFF;
}

.white-nav .login-btn {
    color: #FFFFFF;
}

.white-nav .green-btn {
    background: #FFFFFF;
    color: #029cf2;
    box-shadow: 0px 3px 20px rgba(80, 80, 80,.35);
}

.white-nav.investor .green-btn, .course-header.investing .enroll-btn {
    color: #35cc63;
}

.white-nav.developer .green-btn, .course-header.developer .enroll-btn {
    color: #fa4d8c;
}

.white-nav .green-btn:hover {
    box-shadow: 0px 0px 15px rgba(80, 80, 80,.35);
}

.white-nav .green-btn:active, .white-nav .green-btn:focus {
    background: #efefef;
}

.white-nav .logo-img {
    background-image: url('../img/logo-white.png');
}




.login-holder {
    text-align: right;
    font-size: 0.9em;
}

.green-btn, .menu-bg .green-btn {
    padding: .8rem 1.8rem;
    font-weight: 600;
    border-radius: 4px;
    font-size: 0.75em;
    letter-spacing: 1px;
    color: #FFFFFF;
    box-shadow: 0px 3px 20px rgba(53,204,99,.35);
    transition: all 0.2s;
    background: #35cc63;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.top-navigation .green-btn {
    padding: 8px 15px;
}

.menu-bg .green-btn {
    color: #FFFFFF !important;
}

.green-btn:hover, .menu-bg .green-btn:hover {
    box-shadow: 0px 0px 15px rgba(53,204,99,.6);
    background: #35cc63;
}

.green-btn:active, .green-btn:focus, .menu-bg .green-btn:active, .menu-bg .green-btn:focus, .llms-button-primary:focus, .llms-button-primary:active {
    box-shadow: 0px 2px 10px rgba(53,204,99,.35);
    background: #31b559;
}


.menu-list {
    list-style: none;
    text-align: center;
    margin: auto auto;
    padding: 0px;
}
.white-nav .menu-list > li {
    color: #fff;
}
.white-nav .menu-list > li > a:hover, .white-nav .menu-list > li a:active, .current-menu-item a {
    border-color: #fff;
}


.menu-list li, .menu-bg .menu-list li {
    display: inline-block;
    font-size: 0.95em;
    margin-left: 2rem;
    text-transform: uppercase;
    color: #029cf2;
    font-weight: 600;
}
.menu-list li a, .menu-bg .menu-list li a {
    border-bottom: 1px solid transparent;
    padding: .5rem .2rem .2rem;
    }
.menu-list li a:hover, .menu-list li a:active, .menu-list .current-menu-item a, .menu-list .current-menu-parent > a, .menu-bg .menu-list li a:hover, .menu-bg .menu-list li a:active, .menu-bg .menu-list .current-menu-item a {
    border-color: #029cf2;
}
@media only screen and (min-width: 48rem) {
    .menu-list li a, .menu-bg .menu-list li a {
        font-size: .8rem;
    }
    .menu-list li, .menu-bg .menu-list li {
        margin-left: 1rem;
    }
}
@media only screen and (min-width: 58rem) {
    .menu-list li a, .menu-bg .menu-list li a {
        font-size: .9rem;
    }
    .menu-list li, .menu-bg .menu-list li {
        margin-left: 2rem;
    }
    .top-navigation .green-btn {
        padding: 8px 25px;
    }
}

.menu-list li:first-child {
    margin-left: 0px;
}

.menu-list li ul {
    position: absolute;
    padding: 20px 20px;
    display: none;
}



.login-btn, .menu-bg .login-btn {
    color: #35cc63;
    margin-left: 1rem;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
}
.white-nav .login-btn:hover {
    border-color: #fff;
}
.login-btn:hover, .menu-bg .login-btn:hover, .login-btn:active, .menu-bg .login-btn:active {
    border-color: #35cc63;
}


.white-nav .green-btn:hover {
    box-shadow: 0px 3px 20px rgba(224,224,224,0.35);
    background: #ffffff;
}
.menu-bg.white-nav .green-btn:hover {
background: $color-green;
}


// Sub Menu
.sub-menu {
    background: #fff;
    box-shadow: 0px 7px 25px rgba(85,95,100,0.1);
    min-width: 12rem;
    text-align: left;
}
.menu-list li ul li, .menu-bg .menu-list li ul li {
    margin-left: 0px;
    display: block;
}
.menu-list li ul li a {
    margin-bottom: .4rem;
    display: inline-block;
}
.menu-list .menu-item-has-children:hover > ul {
    display: block;
}


@media only screen and (max-width: 768px) {
    /* nav hover effect - never on phone */
    
    .menu-list li > ul {
        display: block;
    }
    .sub-menu {
        box-shadow: none;
    }
}
@media only screen and (max-width: 767px) {
    /* phone specific nav css */
    
    .menu-list {
        margin-top: 2rem;
        font-size: 1.1rem;
        margin-left: -20px; 
        width: 100vw;
        border-top: 1px solid $color-gray-lightest;
        text-align: left;
    }

    .login-btn {
        margin: 1.5rem auto 0;
        float: left;
        font-size: 1rem;
    }
    
    .top-navigation .green-btn {
        float: left;
        max-width: 150px;
        margin: auto auto;
    }
    
    .max-width-menu {
        flex-direction: column;
    }
    
    .max-width-menu div {
        display: none;
    }
    
    .max-width-menu > div:first-child {
        display: block;
    }
    .menu-list li a, .menu-bg .menu-list li a {
        border: none;
    }
    .menu-list li a:hover, .menu-list li a:active, .menu-list .current-menu-item, .menu-bg .menu-list li a:hover, .menu-bg .menu-list li a:active, .menu-bg .menu-list .current-menu-item {
        background-color: $color-gray-lightest;
        border-color: #fff;
    }
    .menu-list li ul {
        padding: 0;
    }
    .menu-list li ul li a, .menu-bg .menu-list li ul li a {
        padding-left: 3.2rem;
        margin-bottom: 0;
    }
    
    .login-holder {
        margin-top: 1rem;
        text-align: left;
        font-size: 1.1rem;
    }
    
    .login-holder button {
        display: block;
        margin: 0;
        padding-left: 0;
        margin-left: 2rem;
        margin-top: 1rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .menu-list li, .menu-bg .menu-list li {
        display: block;
        margin-left: 0rem;
        width: 100%;
    }
    .menu-list li a, .menu-bg .menu-list li a {
        width: 100%;
        padding: .8rem 2rem;
        display: block;
    }
    
    .menu-list li ul {
        position: relative;
    }
    
    .menu-toggle {
        display: inline-block;
    }
}