/* LAYOUT CONTENT + FLOATING SIDEBAR */

.nav-sidebar .llms-course-outline {
	padding: 0px;
}

.nav-sidebar .llms-course-outline .section-header {
	padding: 5px 0px;
}

.nav-sidebar .section-title {
	font-weight: 400;
	margin-left: 5px;
	font-size: 1rem;
	color: $color-gray-light;
}
.nav-sidebar .llms-section--opened .section-title {
	color: $color-gray;
}

.nav-sidebar .llms-section--opened .section-title {
	font-weight: 800;
}

.nav-sidebar .llms-course-outline .llms-lesson {
	padding: .1rem 0px;
	padding-left: 20px;
	font-weight: 400;
	font-size: 0.9em;
}

.nav-sidebar a {
	opacity: .8;
}

.nav-sidebar a:hover {
	opacity: 1;
}

.nav-sidebar a.current-lesson {
	font-weight: 700 !important;
	opacity: 1 !important;
	color: $color-gray;
}

.nav-sidebar {
   	padding: 30px;
   	background: #FFFFFF;
   	z-index: 99999;
   	align-self: flex-start;
   }
    
    
.llms-course-nav {
	list-style: none;
	display: flex;
}

.llms-course-nav a li {
	padding: 10px 50px;
	background: whitesmoke;
	box-shadow: 0px 5px 5px rgba(84,93,101,0.15);
	font-size: 0.9em;
}

.llms-course-nav.llms-next-lesson {
	text-align: right;
}

.llms-course-nav.llms-next-lesson a {
	margin-left: auto;
}

.layout-content-fs .lesson-titlebar {
	display: none;
}


.nav-sidebar h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: .83rem;
    color: $color-gray;
    margin-top: .5rem;
}
// overwrite course description info on course signup page.
.nav-sidebar .llms-widget-syllabus .llms-section {
	margin-bottom: .8rem;
}

.llms-widget-syllabus .llms-lesson-complete {
	color: #fff;
}
.llms-widget-syllabus .llms-lesson-complete.done {
	color: $color-gray-light;
}
.llms-widget-syllabus .lesson-title a:hover, .nav-sidebar .section-header:hover .section-title {
	color: $color-blue;
}

.llms-course-nav a li {
	font-weight: 800;
}

.llms-lesson-complete:before {    
	font-family: 'FontAwesome';
	content: "\f058";
	margin: 0 0 0 -1rem;
	color: #fff;
	font-size: 1.1rem;
}
.section-grey .llms-lesson-complete:before {
	color: #cacaca;
}
.llms-lesson-complete.done:before {    
	color: $color-gray-light;
}

@media only screen and (max-width: 767px) {
	.sidebar-1-3 {
		width: 100%;
		margin-top: 3rem;
		border-top: 1px solid #f7f7f8;
	}
	.nav-sidebar {
		// position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		padding-top: 30px;
		max-height: 100%;
		overflow: auto;
	}
	// #sidebar-slide {
	// 	display: none;
	// }
	
	// #sidebar-slideout {
	// 	height: 20px;
	// 	width: 20px;
	// 	background: red;
	// 	position: absolute;
	// 	top: calc(50% - 10px);
	// 	transform: translateY(-50%);
	// 	left: 50%;
	// 	transform: translateX(-50%);
	// }
	
	// #sidebar-slide.displayed + #sidebar-slideout {
	// 	top: 25px;
	// 	transform: translateY(0%);
	// }
	/* LAYOUT CONTENT + DOCKED SIDEBAR (always used on phone) */
	
	.continue-bar {
		// position: absolute;
		top: 0px;
		height: 10px;
		overflow: hidden;
		width: 100%;
		left: 0px;
		border-radius: 0px; 
	}
	
	.lesson-titlebar {
		display: none;
	}
	
	.content-2-3 {
		width: 100%;
	}
	
	.nav-sidebar #fullscreen-mode-sidebar, .nav-sidebar #fullscreen-split-mode-sidebar {
		display: none
	}
}