.course_tag-disabled {
	opacity: .5;
	cursor: default !important;
	pointer-events: none;
}
.course_tag-disabled.type-tile:hover {
	margin-top: 40px !important;
	margin-bottom: 0 !important;
}
.course_tag-disabled a {
	cursor: default !important;
}
.course_tag-disabled:before {
	background: $color-gray !important;
	    background-image: linear-gradient(to bottom, $color-gray, $color-gray-light) !important;
}
.course_tag-disabled .category-title {
	color: $color-gray !important;
}
.course_tag-disabled .arrow-btn {
	color: #fff;
	font-size: 0;
}
.course_tag-disabled .arrow-btn:before {
	content: "Coming Soon! ";
	color: $color-gray;
	font-size: .9rem;	
}