/* temporary styles to be included in sass files in future.

Remove following code from functions.php when this file is removed:;
	//added second temporary stylesheet
	wp_register_style('cc2_general_css', get_template_directory_uri() . '/styles2.css', array(), '1.0.0', 'all');
	wp_enqueue_style('cc2_general_css'); // Enqueue it!

*/


.type-tile-bg p {
	font-size: 14px;
}

.type-tile-express p {
    margin-right: 60px;
}

.category-tile-img {
    padding: 10px !important;
}

.header-title {
	font-size: 3em;
}

.standard-green-btn {
	margin-left: 60px;
}

.section-grey {
	margin-bottom: 0px;
}