@import "core/base";
@import "core/original-css";

@import "components/form-fields";
@import "components/nav";
@import "components/sidebar";

.llms-course-nav a li {
	background: transparent;
	color: $color-blue;
	box-shadow: none;
}


// Single Course Signup Page
.llms-widget-syllabus ul li {
	margin-bottom: 1.5rem;
}
.section-title {
	font-size: 1.15rem;
}
.llms-widget-syllabus ul li ul li {
	margin: .3rem 0 0 0;
}


// buttons
.btn-large {
	font-size: 1rem;
	padding: .5rem 2rem;
}

#mc_embed_signup {
	overflow: auto;
	padding-bottom: 2rem;
}


// footer
.social-icon img {
	width: 2rem;
	height: 2rem;
	margin-left: 1rem;
}
.social-icon:hover img {
	opacity: .8;
}