@import "core/normalize";
@import "core/base";
@import "core/original-css";

@import "components/form-fields";
@import "components/footer";
@import "components/nav";
@import "components/sidebar";

.llms-course-nav a li {
	background: transparent;
	color: $color-blue;
	box-shadow: none;
}


// Single Course Signup Page
.llms-widget-syllabus ul li {
	margin-bottom: 1.5rem;
}
.section-title {
	font-size: 1.15rem;
}
.llms-widget-syllabus ul li ul li {
	margin: .3rem 0 0 0;
}


// buttons
.btn-large {
	font-size: 1rem;
	padding: .5rem 2rem;
}

#mc_embed_signup {
	overflow: auto;
	padding-bottom: 2rem;
}
.llms-button-action {
	@extend .green-btn;
}
.llms-form-field.type-submit button:not(.auto) {
	width: auto;
	
}




// Single Lesson
.llms-lesson-button-wrapper, .llms-course-complete-text {
	margin-top: 2rem;
	font-weight: 600;
	color: $color-gray-light;
}
.llms-lesson-button-wrapper i, .llms-course-complete-text i {
	color: $color-green;
	margin-right: .3rem;
}
.llms-course-complete-text {
	font-size: 1.2rem;
}
.course-header .llms-course-complete-text, .course-header .llms-course-complete-text i {
	color: #fff;
}

.llms-progress .progress-bar-complete {
	background-color: $color-green;
}


// Short
.short {
	font-size: 1.4rem;
	line-height: 1.6;
	font-weight: 100;
	max-width: 50rem;
	margin: 0 auto;
}
.category-image-icon {
	margin: 0 auto;
	text-align: center;
	width: 75%;
	max-width: 11rem;
	display: block;
}

@media only screen and (max-width: $break-point-mid) {
	.category-image-icon {
		max-width: 5rem;
		margin-bottom: 3rem;
	}
}


blockquote {
  position: relative;
  font-style: italic;
  max-width: 40rem;
  width: 80%;
  font-size: 1.6rem;
  font-weight: 100;
  margin: 3rem auto;
}
blockquote p {
	line-height: 1.7;
}
blockquote:before {
      content: '\201C';
      position: absolute;
      top: -7rem;
      left: -.4em;
      color: $color-blue-lightest;
      font-size: 8em;
      z-index: -1;
}
blockquote:after {
	content: '\201D';
      position: absolute;
      margin-top: -9rem;
	right: 0;
      color: $color-blue-lightest;
      font-size: 8em;
      z-index: -1;
}
blockquote .cite {
	font-size: .9rem;
	float: right;
	padding-top: 0;
	margin-top: 0;
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 1.5px;
	font-weight: 600;
	color: $color-gray-light;
}

.contact-info-tile a {
	font-size: 1rem;
	color: $color-blue;
}
@media only screen and (max-width: 768px) {
	.contact-info-tile {
		max-width: 25rem;
		padding: 0;
	}
	.contact-info-tile a {
		font-size: 1rem;
	}
}
@media only screen and (max-width: 500px) {
	.contact-info-tile div {
		padding-left: 2rem;
	}
}


// login screens for course signup PURCHASE
.llms-notice {
	border: none;
	background: none; //background-color: $color-blue-lightest;
}
.llms-notice a {
	color: $color-blue;
	text-decoration: underline;
}
.llms-notice a:hover, .llms-notice a:active {
	color: $color-blue-light;
}

.llms-checkout-section {
	border: none;
}
.llms-checkout-wrapper .llms-form-heading {
    font-weight: 800;
    letter-spacing: .5px;
    text-transform: uppercase;
	background: none;
	color: $color-gray;
}

.llms-form-field:not(.type-submit) {
	width: 100% !important;
    max-width: 30rem;
}
.llms-form-field.type-html label {
	margin-left: 0;
	text-transform: none;
	font-weight: 400;
	color: #464444;
}
.llms-checkout-confirm {
	padding-top: 0 !important;
}
.llms-checkout-wrapper form.llms-login {
	border: none;
}
.llms-form-field.type-checkbox input {
	margin-top: .3rem;
	margin-right: 0;
}


// LifterLMS Dashboard Pages

.llms-new-person-form-wrapper h4, .llms-person-login-form-wrapper h4 {
	margin: 0px;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 2em;
    color: #211d2d;
}

.llms-person-form.edit-account {
	margin-top: 2rem;
}
.llms-notification-list {
	margin-top: 2rem;
}
#llms-password-change-toggle {
	color: $color-blue;
	text-decoration: underline;
}
.llms-form-field.type-html {
	text-align: left;
	padding-top: 1rem;
}
@media only screen and (min-width: 768px) {
	.col-1, .col-2 {
		width: 50%;
		box-sizing: border-box;
		float: left;
		clear: none;
	}
	.col-1 {
		padding-right: 5%;
	}
	.col-2 {
		float: right;
		border-left: 1px solid $color-gray-lightest;
		padding-left: 5%;
	}
}




// express courses
.express-courses .llms-lesson {
	@extend .type-tile;
	@extend .type-tile-express;
	@extend .course-tile;
	@extend .bitcoin;
	width: 100%;
	max-width: 333px;
	float: left;
	min-height: 111px;
}
// .express-courses .llms-lesson:nth-child(3n+3), .express-courses .llms-lesson:nth-child(3n+4) {
// 	margin-left: 5%;
// }
// .express-courses .llms-lesson:nth-child(3n+2) {
// 	clear: both;
// }

@media only screen and (min-width: 767px) {
	.express-courses .llms-lesson {
		width: 45%;
		clear: none;
	}
	.express-courses .llms-lesson:nth-child(2n+3) {
		margin-left: 5%;
	}
	.express-courses .llms-lesson:nth-child(2n+2) {
		clear: both;
	}
}
@media only screen and (min-width: 1047px) {
	// reverse out items from mid size
	.express-courses .llms-lesson:nth-child(2n+3) {
		margin-left: 0;
	}
	.express-courses .llms-lesson:nth-child(2n+2) {
		clear: none;
	}

	
	.express-courses .llms-lesson {
		width: 30%;
	}
	.express-courses .llms-lesson:nth-child(3n+3), .express-courses .llms-lesson:nth-child(3n+4) {
		margin-left: 5%;
	}
	.express-courses .llms-lesson:nth-child(3n+2) {
		clear: both;
	}
}


.express-courses .llms-lesson .llms-lesson-complete {
	display: none;
}
.express-courses .section-title {
	display: none;
}
.express-courses .llms-widget-syllabus .lesson-title {
	margin-left: 0;
}
.express-courses .llms-lesson span {
	margin-right: 0;
}
.express-courses .llms-widget-syllabus .lesson-title a:before {
	@extend .category-title;
	content: 'Express Course';
	color: $color-blue;
	display: block;
}
.express-courses .llms-widget-syllabus .lesson-title a {
	@extend .course-title;
	display: block;
	padding: 0rem 2rem 2rem;
	margin-bottom: 0;
}
.express-courses .llms-widget-syllabus .lesson-title a:hover, .express-courses .llms-widget-syllabus .lesson-title a:active {
	color: #404852;
}

@media only screen and (min-width: 768px) {
	.sidebar {
	padding-left: 4rem;
	border-left: 1px solid $color-gray-lightest;
	margin-left: 3rem;
	}
}


// LifterLMS buttons
.llms-button-primary {
	@extend .green-btn;
}
.llms-incomplete-lesson-form {
	margin-top: 2rem;
}
.llms-button-secondary {
	padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid #d4d3da;
    color: $color-gray-light;
    font-size: .8em;
    font-weight: 600;
    transition: all .3s;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:focus {
    	background-color: $color-gray-lightest;
    	color: $color-gray-light;
    }
    &:hover {
    	background-color: $color-gray-lightest;
    	color: $color-gray-light;
    }
    &:active {
    	background-color: $color-gray-lightest;
    	color: $color-gray-light;
    }
    &:visited {
    	background-color: $color-gray-lightest;
    	color: $color-gray-light;
    }
}

// standard course
#lesson-content {
	margin-bottom: 3rem;
}
.course_tag-disabled {
	opacity: .5;
	cursor: default !important;
	pointer-events: none;
}
.course_tag-disabled.type-tile:hover {
	margin-top: 40px !important;
	margin-bottom: 0 !important;
}
.course_tag-disabled a {
	cursor: default !important;
}
.course_tag-disabled:before {
	background: $color-gray !important;
	    background-image: linear-gradient(to bottom, $color-gray, $color-gray-light) !important;
}
.course_tag-disabled .category-title {
	color: $color-gray !important;
}
.course_tag-disabled .arrow-btn {
	color: #fff;
	font-size: 0;
}
.course_tag-disabled .arrow-btn:before {
	content: "Coming Soon! ";
	color: $color-gray;
	font-size: .9rem;	
}

// lifterlms purchase 
// removes option to login when signing up for a course because is currently broken to link to /wp-admin/ instead of /dashboard/
.llms-notice:not(.llms-error) {
	display: none;
}



// Certificates 
.llms-certificate-container {
	margin-top: 8rem;
}
.llms-certificate-container h1 {
	color: $color-blue;
	font-weight: 400;
}
.llms-certificate-container .certificate-name {
	margin-top: -.5rem;
    font-weight: 600;
    font-style: italic;
    font-size: 1.3rem;
	text-transform: capitalize;
}
.llms-certificate-container .certificate-description {
	color: $color-blue;
}